<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Известие за създаване на докторски потребител $PHD_USER</title>
  </head>
  <body>
    <div class="container">
      <p>Докторантския център е одобрил кандидат докторанта $PHD_USER</p>
      <p>Един от администраторите трябва да:</p>
      <ul>
        <li>
          Създава<strong>Azure Active Directory</strong> профил на потребителя
        </li>
        <li>
          Одобрява и предоставяне на достъп до<strong
            >Докторантската платформа</strong
          >.
        </li>
      </ul>
      <p>Моля, изпълнете тези стъпки възможно най -скоро</p>
    </div>
  </body>
</html>
