<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Известие за преглед на докторантската кандидатура за кандидат $CANDIDATE
    </title>
  </head>
  <body>
    <div class="container">
      <p>Кандидат се е регистрирал за докторантурската програма $PHD_USER</p>
      <p>Един от членовете на докторантския център трябва:</p>
      <ol type="1">
        <li>
          <strong>Преглед</strong> на биографията му и одобрява/отказва неговата
          кандидатура
        </li>

        <li>Добавя го в първият задължителен изпит: Английски език</li>
        <li>Добавя комитета за оценяване на кандидата</li>

        <li>
          Добавя го във вторият задължителен изпит: Докторантска програма (той
          трябва да изпраща презентация и реферат)
        </li>
        <li>Добавя комитета за оценяване на кандидата</li>

        <li>Ако одобрен, той е одобрен и става докторант</li>
      </ol>

      <p>Моля, изпълнете тези стъпки възможно най -скоро</p>
    </div>
  </body>
</html>
