<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вашата кандидатура за докторант е приета за изпит 1</title>
  </head>
  <body>
    <div class="container">
      <p>Вашата кандидатура за докторант е приета за изпит</p>
      <p>Влезте в системата за задължителните изпити:</p>

      <p>Изпит 1</p>
      <ul>
        <li>Pdf на англииски език</li>
        <li>Изпит на англииски език</li>
        <li>Критерии: над 4.50</li>
      </ul>

      <p>С най-добри пожелания,</p>
      <p>Екипът на Технически университет Варна</p>
    </div>
  </body>
</html>
