<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вашата кандидатура за докторант е приета за изпит</title>
  </head>
  <body>
    <div class="container">
      <p>Вашата кандидатура за докторант е приета за изпит 2</p>
      <p>Влезте в системата за изпитите:</p>

      <p>Изпит 2 (по докторантска програма)</p>
      <ul>
        <li>Презентация на докторантска програма</li>
        <li>Реферат на докторантска програма</li>
        <li>Критерии: над 4.50</li>
      </ul>

      <p>С най-добри пожелания,</p>
      <p>Екипът на Технически университет Варна</p>
    </div>
  </body>
</html>
